<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="fromConStr" value="mongodb://eagle:Uvd7799nJ@192.168.100.221:27017/device?maxPoolSize=5000"/>
    <add key="toConStr" value="mongodb://eagle:Uvd7799nJ@192.168.100.11:27017/device_temp?maxPoolSize=5000"/>
  </appSettings>
</configuration>